# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

src/tests/
src/docker/volume/
src/docker/dify/volumes/*
!src/docker/dify/docker/volumes/myscale/config/users.d/custom_users_config.xml
!src/docker/dify/docker/volumes/oceanbase/init.d/vec_memory.sql
!src/docker/dify/docker/volumes/opensearch/opensearch_dashboards.yml
!src/docker/dify/docker/volumes/sandbox/conf/config.yaml
!src/docker/dify/docker/volumes/sandbox/conf/config.yaml.example
!src/docker/dify/docker/volumes/sandbox/dependencies/python-requirements.txt




src/app.egg-info/
src/web/node_modules/
src/web/dist/

.DS_Store
.idea/
.venv/
src/logs/
# 环境变量文件
.pytest_cache/
